.main_div{
    background-color: aquamarine;
    font-size: 25px;
}
.footer{
    background-color:chartreuse;
    font-size: 30px;
}
.header_div{
    background-color: cadetblue;
    color:whitesmoke;

}
.header_div p{
    
}